html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body  { 
  margin-bottom: 60px;
  background-color:rosybrown; 
  text-align:center;
  
}
img {
    width: 100%;

    margin:0%;
    filter:contrast(150%);
  
   
}
table,th,td {
    margin: auto;
    border: 1px solid;
    border-color: black;
    width: auto;
    background-color:white;
}
nav a {
    color:aquamarine;
    transition:ease-in-out;
    font-style:italic;
}

    nav a:hover {
        background-color: lightyellow;
    }